*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: whitesmoke;
}
.Cont{
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "Nav Nav"
  "Main Main"
  "Section Section"
  "Article Article"
  "Shapes Shapes"
  "Null Null"
  ;
  gap: 50px;
}
main{
  grid-area: Main;
}
section{
grid-area: Section;
}
article{
grid-area: Article;
}
shapes{
grid-area: Shapes ;
}
empty{
grid-area: Null ;
}

@media (max-width : 740px) {
  .Cont{
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "Nav"
    "Main"
    "Section"
    "Article"
    "Shapes"
    "Null"
    ;
    gap: 50px;
  }
}